body, html {
/*     background: white; */
    font-family: 'Ubuntu', sans-serif !important;
/*         height: 100%; */

}

h3 {
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

h6 {
	font-size: 11px;
}

p {
	font-size: 16px;
}


h3, h1, li, h6 {
	color: #6032e4;
}

h3,  li {
	color: #757575;
}

.main-panel, .second-panel {

    height: 100%;
    height: 100vh;
}







.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

li { 
	font-family: 'Ubuntu', sans-serif;}




::selection {
  background: rgba(0, 200, 255, 0.83); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0, 200, 255, 0.83); /* Gecko Browsers */
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	   

	    
	}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
	
	
	
	 }
